.contacts {
    position: relative;
    overflow: hidden;

    .mb-50 {
        display: block;
        margin-bottom: 5rem;
    }

    &__inner {
        display: flex;
    }

    &__aside {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
        margin-bottom: 28rem;
        // margin-right: 39.5rem;

        .title {
            font-size: 3rem;
            font-weight: bold;
            line-height: 4.4rem;
            color: #C76753;
            margin-bottom: 1.8rem;
        }

        .phone,
        .email {
            text-decoration: none;
            color: inherit;
        }

        .email {
            margin-top: .5rem;
        }

        .social {
            display: flex;
            align-items: center;

            a {
                display: flex;
                margin-right: 2.4rem;

                &:last-child {
                    margin-right: 0;
                }

                img {
                    max-width: 100%;
                }
            }
        }
    }

    &__map {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;

        iframe {
            width: 72.5rem;
            height: 66.5rem;
        }
    }
}