.menu {
    margin-bottom: 9.9rem;
    background-color: #FFEACB;
    
    &__inner {
        display: flex;
        flex-direction: column;

        .tab-btns {
            display: flex;
            justify-content: center;
            padding-top: 2.1rem;
            padding-bottom: 6rem;

            @include respond(tab-port) {
                flex-wrap: wrap;
                padding-bottom: 4.5rem;
            }

            button {

                @include respond(tab-port) {
                    width: 50%;
                    margin-right: 0;
                    margin-bottom: 1rem;
                }

                @include respond(phone) {
                    width: 100%;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .tabcontent {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            font-family: 'Gotham Pro';
            margin-bottom: 6rem;

            &__item {
                position: relative;
                max-width: 54rem;
                width: 100%;
                margin-bottom: 5rem;

                @include respond(tab-land) {
                    max-width: unset;
                }
            }

            &__price {
                font-size: 2.4rem;
                font-weight: normal;
                line-height: 2.4rem;
                text-transform: uppercase;
                color: #000000;
                position: absolute;
                top: 0;
                right: 0;
            }

            &__title {
                font-size: 2.4rem;
                font-weight: normal;
                line-height: 2.4rem;
                text-transform: uppercase;
                color: #000000;
                margin-bottom: 1.6rem;
            }

            &__paragraph {
                font-size: 1.4rem;
                font-weight: normal;
                line-height: 2.2rem;
                color: #000000;
            }
        }
    }
}