.parallax {
    
    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__image {
        max-width: 100%;
        height: 74.7rem;
    }
}

.first-parallax,
.second-parallax,
.third-parallax {
	background: transparent;
}

.first-parallax {
    height: 74.7rem;

    @include respond(tab-port) {
        height: 39rem;
    }
}

.second-parallax {
    height: 57rem;

    @include respond(tab-port) {
        height: 45rem;
    }
}

.third-parallax {
    height: 78rem;

    @include respond(tab-port) {
        height: 55rem;
    }
}